/* Global rules */
html, body{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.blueStyle{
    background-color: rgb(115, 115, 255);
    color:white;    
    text-align: center;
}
.topHeader{
    position:fixed;
    margin:0;
    padding:0;
}
.backArrow{
    position:absolute;
    display:inline-block;
    color:white;
    border:0;
    background-color: transparent;
}
button:hover{
    color:rgb(219, 219, 219);
}

/* Mobile rules */
@media (max-width:1000px) and (max-resolution:200dpi){
    .blueStyle{
        height:80px;
        line-height: 80px;
        font-size: 40px;
    }
    .topHeader{
        padding:20px; 
        width:100%;       
    }
    
    .backArrow{
        left:30px;
        font-size: 100px;
        line-height: 60px;        
    }
}

/* Desktop rules */
@media (min-width:1000px) and (min-resolution:72dpi){
    #root{
        width:60%;
        margin:0 20%;
    }
    .blueStyle{
        height:30px;
        line-height: 30px;
        font-size: 30px;
    }
    .topHeader{
        width:50%;
        padding:50px;        
    }
    .backArrow{
        left:30px;
        top:20px;
        font-size: 100px;
        line-height: 70px;
    }
}
